.card {
    background-color: #fff;
    width: fit-content;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: fit-content;
}

.card__top {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.card__tag {
    width: fit-content;
    padding: 0.5rem 0.8rem 0.4rem;
    background-color: #6082B6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: fit-content;
    font-size: 10pt;
    margin-bottom: 0.5rem;

}

.card__header {
    margin-bottom: 1rem;
}

.card__header h2,
.card__header p {
    margin: 0;
    padding: 0;
}

.card__header h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.card__header p {
    font-size: 1rem;
    font-style: italic;
}

.card__assigned {
    display: flex;
    align-items: center;
}

.card__assigned img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.card__assigned__info {
    display: inline;
}

.card__date {
    display: flex;
    margin-left: 0.5rem;
    opacity: 0.2;
    align-items: center;
    margin-bottom: 0.4rem;
}

.card__date svg {
    padding-bottom: 5px;
}

.card__date p {
    margin: 0;
    padding: 0;
    margin-left: 0.4rem;
    display: flex;
    align-items: center;
    text-align: center;
}